<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Spring</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main">Messages</a>
                    </li>
                    <div sec:authorize="hasAuthority('USER')" >
                        <li class="nav-item">
                            <a class="nav-link" href="/user-messages/" th:attrappend="href=${#authentication.getPrincipal().getId()}">My Messages</a>
                        </li>
                    </div>
                    <div sec:authorize="hasAuthority('ADMIN')" >
                        <li class="nav-item">
                            <a class="nav-link" href="/user">ADMIN PAGE</a>
                        </li>
                    </div>
                    <div sec:authorize="hasAuthority('USER')" >
                        <li class="nav-item">
                            <a class="nav-link" href="/user/profile">Profile</a>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="my-2 my-sm-0" sec:authorize="isAuthenticated()">
                <span sec:authentication="name"></span>
            </div>
            <div class="my-2 my-sm-0" sec:authorize="!isAuthenticated()">
                <span>unnamed</span>
            </div>
            <div class="ml-2" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-outline-info">Sign Out</button>
                </form>
            </div>
        </nav>

        <div class="ml-3">
            <form method="get" th:action="@{/main}">
                <input class="form-control form-control-lg col-sm-2 mt-2" type="text" th:name="filter" th:value="${filter}" placeholder="Enter the tag to filter">
                <button type="submit" class="btn btn-warning mt-2">Find</button>
            </form>
        </div>


        <button class="btn btn-outline-primary ml-3 mt-2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Add new Message
        </button>
        <div class="collapse ml-3" th:classappend="${message != null}?'show':''" id="collapseExample">
        <form class="mt-2" method="post" th:action="@{/main}" enctype="multipart/form-data">
            <div class="form-group">
                <input type="text" th:name="text" class="form-control" th:classappend="${textError != null}?'is-invalid':''" th:value="${message != null}?${message.text}" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="text">
                <div th:if="${textError != null}" class="invalid-feedback" th:utext="${textError}"/>
            </div>
            <div class="form-group">
                <input type="text" th:name="tag" class="form-control" th:classappend="${tagError != null}?'is-invalid':''" th:value="${message != null}?${message.tag}" id="exampleInputPassword1" placeholder="tag">
                <div th:if="${tagError != null}" class="invalid-feedback" th:utext="${tagError}"/>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Choose the file</label>
                <input type="file" name="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <input type="hidden" name="id" th:value="${message?.id}" />
            <button type="submit" class="btn btn-outline-success">Submit</button>
        </form>
        </div>


        <div class="card-columns ml-3">
            <div th:each="message : ${messages}">
                <div class="card my-3" style="width: 18rem;">
                    <div th:if="${message.filename != null}">
                        <img class="card-img-top" th:src="@{/img/{filename}(filename = ${message.filename})}" alt="Card image cap">
                    </div>
                    <div class="m-2">
                        <span th:text="${message.text}"></span>
                        <br/>
                        <i th:text="'#' + ${message.tag}"></i>
                    </div>
                    <div class="card-footer text-muted">
                        <a th:href="'/user-messages/' + ${message.author.id}">
                            <strong th:text="${message.getAuthorName()}"></strong>
                        </a>
                        <a th:if="${message.author.id == #authentication.getPrincipal().getId()}" class="btn btn-info" th:href="'/user-messages/' + ${message.author.id} + '?message=' + ${message.id}">Edit</a>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
