<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div>
            <form action="/logout" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>

        <div>
            <form method="post">
                <input type="text" name="text" placeholder="text">
                <input type="text" name="tag" placeholder="tag">
                <button type="submit">Submit</button>
            </form>
        </div>

        <div>
            <form method="post" action="filter">
                <input type="text" name="filter">
                <button type="submit">Submit</button>
            </form>
        </div>

        <div>The list of messages: </div>
        {{#messages}}
            <div>
                <b>{{id}}</b>
                <span>{{text}}</span>
                <i>{{tag}}</i>
            </div>
        {{/messages}}
    </body>
</html>